.status-page {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4% 7%;
  margin-bottom: 100px;
  background-color: #fafafa;

  @media (width > 1200px) {
    max-width: 100%;
    margin-left: 90px;
    margin-bottom: 0;
    padding: 2% 3%;
    height: 100vh;
    justify-content: normal;
  }

  &__title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  &__details {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__machines {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;

    @media (width > 1200px) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 2%;
      row-gap: 10%;
    }
  }

  &__add-break-button {
    background: url("../../imgs/icons/add-break-icon.svg");
    position: sticky;
    width: 57px;
    height: 57px;
    bottom: 120px;
    left: 100%;
    cursor: pointer;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
    border: 1px solid #565656;
    border-radius: 6px;

    @media (width > 880px){
      transform: translateX(40%);
    }

    @media (width > 930px){
      transform: translateX(80%);
    }

    @media (width > 1050px){
      transform: translateX(130%);
    }

    @media (width > 1200px) {
      transform: none;
      left: auto;
      right: 3%;
      position: absolute;
    }
  }
}