.machine-breaks-page {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7%;
  margin-bottom: 18%;
  row-gap: 30px;

  &__title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
}