@import "variables.scss";
@import "App";
@import "pages/authorization-page/authorization-page.scss";
@import "components/auth-form/auth-form.scss";
@import "components/bottom-menu/bottom-menu.scss";
@import "components/machine/machine.scss";
@import "pages/break-register-page/break-register-page.scss";
@import "components/break-form/break-form.scss";
@import "pages/breaks-list-page/breaks-list-page";
@import "components/breaks-list/breaks-list";
@import "components/break-element/break-element";
@import "components/sending-status-page/sending-status-page";
@import "pages/machine-breaks-page/machine-breaks-page.scss";
@import "pages/agreement-page/agreement-page.scss";
@import "components/agreement-list/agreement-list.scss";
@import "pages/notification-page/notification-page";
@import "components/notification/notification";
@import "pages/supply-page/supply-page";
@import "components/supplies-by-break/supplies-by-break";
@import "components/supply-register-form/supply-register-form";
@import "components/supply-form-element/supply-form-element";
@import "pages/analytics-page/analytics-page";
@import "pages/currencies/currencies";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

body {
  margin: 0;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
