$main_dark: #3D3D3D;
$main_blue: #175884;
$main_orange: #da9053;
$main_orange_hover: #d2602e;
$orange-light: #f39e61;
$work: #9FD786;
$work-border: #4D8B31;
$not-use: #8EB8E5;
$not-use-border: #175884;
$wrong: #e58077;
$wrong-border: #8C1C13;