.machine {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 5px $work;
  border: 1px solid $work;
  height: 68px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $work;
  cursor: pointer;

  &--not-use {
    color: $not-use;
    box-shadow: 3px 3px 5px $not-use;
    border: 1px solid $not-use;
  }

  &--wrong {
    color: $wrong;
    box-shadow: 3px 3px 5px $wrong;
    border: 1px solid $wrong;
  }

  &__name {
    font-size: 30px;
    font-weight: bold;
  }

  &__status {
    font-size: 16px;
    text-align: right;
  }
}