.repair-element {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  width: 100%;
  color: #565656;
  font-size: 12px;
  text-decoration: none;
  position: relative;
  border-radius: 6px;

  &__blur-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.6);
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    z-index: 9999;
  }

  &__header {
    background-color: #DCE9D5;
    padding: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    cursor: pointer;
    border-radius: 6px;
  }

  &__header-arrow {
    position: absolute;
    top: 25px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: url("../../imgs/break-arrow.svg") center center no-repeat;
    background-size: 20px 20px;
    transform: rotate(180deg);

    &--opened {
      transform: rotate(0deg);
    }
  }

  &__header-complete-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: 9px;
    row-gap: 3px;
    text-align: end;
    width: 50%;
    flex-grow: 1;
  }

  &__header-time {
    font-size: 11px;
    color: #565656;
    margin-right: 10px;
  }

  &__machine-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header--work {
    background-color: #a6dfa4;
  }

  &__header--warning {
    background-color: #f3da90;
  }

  &__header--wrong {
    background-color: #ff9c9c;
  }

  &__header--inspection {
    background-color: #a5c3e4;
  }

  &__header--stop {
    background-color: #cc93ed;
  }

  &__title {
    font-size: 22px;
    line-height: 22px;
  }

  &__machine-status {
    font-size: 11px;
    color: #565656;
  }

  &__stages {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 20px;

    &__opened {
      display: flex;
    }

    &__closed {
      display: none;
    }
  }

  &__stage {
    background-color: white;
    padding: 15px;
    border: 2px solid #ABABAB;
    position: relative;
    width: 100%;
    border-radius: 6px;
  }

  &__stage-title {
    font-weight: 500;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
  }

  &__stage-status {
    position: absolute;
    top: 18px;
    right: 15px;
    font-weight: 500;

    &--comleted {
      color: #66dd1f;
    }

    &--not-start {
      color: #c1c1c1;
    }

    &--in-progress {
      color: #8d8fe8;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    margin-left: 17px;
    column-gap: 6px;
    padding: 5px 0;
    font-size: 11px;
    border-bottom: 1px solid #A6A6A6;
    justify-content: space-between;
    position: relative;

    span:first-child {
      font-weight: 600;
    }

    span:last-child {
      text-align: right;
    }

    &--supply-list {
      flex-direction: column;
      align-items: baseline;
    }
  }

  &__change-date {
    position: absolute;
    left: -21px;
    top: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  &__details {
    font-size: 12px;
    display: block;
  }

  &__details--hidden {
    display: block;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 0 20px 20px 20px;
    border-radius: 0 0 6px 6px;
  }

  &__photo-button {
    display: block;
    background-color: $main-orange;
    padding: 0.5em 2em;
    color: white;
    cursor: pointer;
  }

  &__button {
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;

    &--success {
      background-color: #a2d687;
      border: 1px solid #78a85e;
    }

    &--reject {
      background-color: #efaaaa;
      border: 1px solid #c57e7e;
    }

    &--supply {
      background-color: #bbd2f4;
      border: 1px solid #7e8cc5;
    }

    &--inactive {
      background-color: #c7c7c7;
      cursor: no-drop;
      border: 1px solid #9f9f9f;
    }
  }

  &__textarea {
    background-color: #e8e8e8;
    padding: 5px;
    border-radius: 6px;
  }

  &__photo-input {
    display: flex;
    background-color: $main-orange;
    padding: 0.9em 2em;
    height: 36px;
    color: white;
    cursor: pointer;
    justify-content: center;
    border-radius: 6px;

    input[type=file] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
    }
  }

  &__timer {
    display: flex;
    width: 140px;
    height: 23px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #ABABAB;
    font-size: 11px;
    padding: 0 10px;
  }

  &__progress-bar {
    position: absolute;
    right: 17px;
    row-gap: 6px;
    flex-direction: row;
  }

  &__short-discription {
    padding: 9px 15px;
    background-color: #D6D6D6;
    border-radius: 0 0 6px 6px;
  }

  &__short-agr-discription {
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    margin-bottom: 15px;
  }
}